.hightlight-header {
  text-align: center;
}

.header-text {
  padding: 8px 18px;
  font-size: 32px;
  color: #0E528B;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #0E528B;
  font-family: ChakraPetchMedium;
}

.descript-text {
  font-size: 42px;
  color: #222;
  margin: 50px 0 32px 0;
  font-weight: bold;
  font-family: ModernHBold;
}

.detail-text {
  color: #666;
  font-size: 17px;
  font-family: ModernHEcoLight;
  font-weight: bold;
}

.product-head-text {
  font-size: 24px;
  font-weight: bold;
}
.product-head-text p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  padding: 0 11px;
}

.descript-product {
  text-align: center;
  align-items: center;
  flex-direction: none;
  padding-top: 80px;
}
.descript-product span {
  margin-bottom: 24px !important;
}
.descript-product p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  padding: 0 11px;
}

img {
  width: 100%;
}

.img-highlight {
  padding-left: 15px;
  padding-right: 15px;
}

.descript-box {
  position: relative;
}
.descript-box span {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 45%;
  transform: translareY(-50%);
  max-width: 540px;
}

.descript-text1 {
  right: 32px;
}

.descript-text2 {
  left: 45px;
}

.double-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 24px;
  font-family: ModernHEcoLight;
}

.descript-header {
  font-size: 30px;
  margin-bottom: 24px !important;
}

.descript-text-box p {
  color: #666;
  line-height: 1.7;
  font-size: 15px;
}

a {
  text-decoration: none;
}

#exterior {
  text-align: center;
  margin-top: 40px;
}

.exterior-bg {
  margin-top: 32px;
  position: relative;
  width: 100%;
  height: 520px;
}

.header-slogan {
  font-size: 26px;
  margin-top: 60px;
  font-family: ModernHBold;
}

.detail-text {
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.product-detail-item {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.product-exterior-descript {
  position: absolute;
  top: 16px;
  left: 32px;
  right: 16px;
  max-width: 100%;
  text-align: left;
}
.product-exterior-descript p {
  color: #666;
  font-family: ModernHBold;
}

.product-exterior-descript-header {
  margin-bottom: 18px;
  font-size: 18px;
  color: #fff;
  font-family: ModernHBold;
}

.detail-product {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.detail-box-text span {
  display: inline-block;
  padding: 10px 0;
  color: #000;
  font-family: ModernHBold;
  font-weight: bold;
  font-size: 16px;
}
.detail-box-text p {
  color: #656565;
  font-weight: 700;
  font-family: ModernHEcoLight;
  font-size: 16px;
}

.furniture-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/noithat/noi11.png) no-repeat fixed 50% 50% #fff;
}

.slogan-comfort {
  font-size: 28px;
  color: #337ab7;
  font-family: ModernHBold;
}

.operation-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/vanhanh/v1.jpg) no-repeat fixed 50% 50% #fff;
}

.engine-descript {
  display: flex;
  padding-left: 85px;
}

.engine-descript-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.engine-descript .engine-descript-left .engine-descript-left-above {
  margin-bottom: 16px;
  text-align: left;
  font-family: var(--second-font);
  font-weight: 700;
  max-width: 373px;
}
.engine-descript .engine-descript-left .engine-descript-left-above span {
  font-size: 22px;
  color: #222222;
  line-height: 1.6;
}
.engine-descript .engine-descript-left .engine-descript-left-above p {
  color: #333333;
  font-size: 14px;
}

.engine-descript .engine-descript-left .engine-descript-left-bellow {
  min-height: 180px;
  text-align: left;
  background: url(https://buithimyvan.github.io/Giaodien_HuyndaiGrand_i10-Van/images/bg_performance_max_title2.png) no-repeat;
}
.engine-descript .engine-descript-left .engine-descript-left-bellow div {
  min-height: 78px;
}

.max-power {
  display: flex;
  padding-bottom: 14px;
  border-bottom: 1px solid #ccc;
}

.max-torque {
  display: flex;
}

.max-torque .max-torque-text {
  color: #3f86c6;
  padding-top: 74px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.max-number {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.number {
  font-size: 32px;
  color: #666666;
  font-weight: 700;
  font-family: ChakraPetchRegular;
}

.max-power-text .max-torque .max-torque-text {
  font-size: 14px;
  font-family: var(--second-font);
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.engine-descript-left-above {
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  max-width: 373px;
}
.engine-descript-left-above span {
  font-size: 22px;
  color: #222222;
  line-height: 1.6;
}
.engine-descript-left-above p {
  color: #333333;
  font-size: 14px;
}

.max-power-text {
  color: #f58d0a;
}

.max-power-text {
  font-size: 14px;
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.max-number {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.number {
  font-size: 32px;
  color: #666666;
  font-weight: 700;
  font-family: var(--third-font);
}

.unit {
  color: #666666;
  font-weight: 700;
}

.safe-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an1.jpg) no-repeat fixed 50% 50% #fff;
}

.air-bag {
  min-height: 516px;
  background-image: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an2.jpg);
  margin-bottom: 111px;
}

.safe-info-box {
  max-width: 450px;
  padding: 32px 16px 0 32px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.safe-info-name {
  display: block;
  margin: 0 0 17px 0;
  font-size: 17px;
  font-family: ModernHBold;
  line-height: 24px;
  color: #000;
}

.safe-info-text {
  font-size: 14px;
  color: #656565;
  font-weight: bold;
}

.hac {
  min-height: 716px;
  width: 100%;
  background-image: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an3.jpg);
  padding: 56px 0 0 127px;
}

.convenient-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/tiennghi/tien1.jpg) no-repeat fixed 50% 50% #fff;
}

.panorama_360 {
  position: relative;
  max-height: 500px;
}

.body-top-360 {
  height: 500px;
}

#object1 {
  max-height: 500px;
}

.product-viewer {
  padding-top: 110px;
  display: flex;
  justify-content: center;
}

.body-top-catalog {
  position: relative;
  height: 500px;
}

.body-top-danhgia {
  position: relative;
  height: 500px;
}

.imglist {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.modal_danhgia {
  display: flex;
}

.body-top-gioithieu {
  display: flex;
  justify-content: center;
}

.gioithieu {
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 500px;
  max-width: 900px;
}

.gt-left {
  padding-left: 60px;
  margin-bottom: 100px;
}

.gt-right {
  margin-bottom: 100px;
}

.gt-img-responsive {
  margin-top: 130px;
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: 20px;
}

.gt-text {
  margin-top: 100px;
  font-weight: 900;
}
.gt-text .gt-carname {
  font-size: 34px;
  text-transform: uppercase;
}
.gt-text .gt-slogan {
  font-size: 16px;
  text-transform: uppercase;
}
.gt-text .gt-summary {
  font-size: 15px;
  margin-top: 10px;
}

.item-productprice {
  margin-top: 20px;
}
.item-productprice .btn {
  border-radius: 0px;
  font-size: 18px;
}
.item-productprice .btn-detail-product {
  background-color: #3c599b;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.item-productprice .btn-detail-product:hover {
  background-color: orange;
}

@media only screen and (min-width: 992px) {
  .gt-img-responsive {
    margin-top: 130px;
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: 20px;
  }
}
.body-top-hinhanh {
  position: relative;
}

.hinhanh {
  max-width: 1000px;
  height: 500px;
}

.nav-tabs .nav-link.active {
  color: #0000ff;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active :hover {
  font-weight: 900;
  color: orange;
}

.hinhanh-tongquan .nav-link p {
  font-size: 17px;
  font-weight: 900;
}

.hinhanh-tongquan {
  padding-top: 100px;
}

.body-hinhanh p {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.body-top-thongsoxe {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

div.ex1 {
  background-color: white;
  width: 900px;
  height: 300px;
  overflow: scroll;
}

.khung_tabs_body {
  height: 180px;
}

.nav-tabs {
  padding: 0;
  justify-content: center;
  border: none;
  position: relative;
  z-index: 50;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.nav-tabs .nav-link .active {
  color: transparent;
  background-color: transparent;
  border-color: none;
}

.nav-tabs-top {
  margin: 0;
  list-style: none;
  padding: 0;
}

.nav-tabs-bot {
  list-style: none;
  display: flex;
}

.nav-link p {
  margin: 0;
}

.objects_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.pace-inactive {
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-progress {
  background: #00bfff;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00bfff, 0 0 5px #00bfff;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #00bfff;
  border-left-color: #00bfff;
  border-radius: 10px !important;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-zoom-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@font-face {
  font-family: ModernHEcoLight;
  src: url("/font/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: ModernHBold;
  src: url("/font/ChakraPetch-Medium.ttf");
}
@font-face {
  font-family: ChakraPetchRegular;
  src: url("/font/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: ChakraPetchMedium;
  src: url("/font/ChakraPetch-Medium.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-body {
  display: block;
  padding-top: 40px;
}

body {
  font-family: ModernHEcoLight;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.container-fluid {
  background-color: white;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
