@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.container-header {
  position: relative;
  background: #fff;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #337ab7;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  width: 100%;
}

:root {
  --main-color: #0e528b;
  --main-font: "Chakra Petch", sans-serif;
  --second-font: ModernHLight;
  --third-font: ModernHBold;
  --submenu-color: #fff;
  --modern-eco-light: ModernHEcoLight;
  --modern-eco-bold: ModernHEcoBold;
}

/* Common */
.mt8 {
  margin-top: 8px !important;
}

.mt16 {
  margin-top: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mt32 {
  margin-top: 32px !important;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0 !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px !important;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.font-size-30 {
  font-size: 30px;
}

.text-align-center {
  text-align: center;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.container {
  max-width: 970px;
}

.hidden {
  visibility: hidden;
}

#header {
  border-bottom: 1px solid #ccc;
  height: 58px;
}

#header #nav {
  position: relative;
  margin: 0 34px;
  display: flex;
  align-items: center;
  height: 100%;
}

#nav #huyndai-logo {
  width: 200px;
  height: 28px;
}

#nav #daily-logo {
  width: 156px;
  height: 38px;
}

#nav li {
  position: relative;
  padding: 8px 18px;
  height: 100%;
  display: flex;
  align-items: center;
}

#nav li a {
  color: #333;
  font-weight: 700;
}

#nav .huyndai-logo {
  padding: 12px 20px;
}

#nav .daily-logo {
  position: absolute;
  right: 0;
}

#nav .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-top: 2px solid #0e528b;
  border-bottom: none;
  min-width: 200px;
}
#nav .subnav.selected::before {
  background-color: #dc7b5b;
}

#nav .subnav::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  border: 1 solid transparent;
  border-left: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  transform: rotate(45deg);
  top: -10px;
  left: 25%;
  background-color: var(--submenu-color);
}

#nav .subnav li {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

#nav .subnav li:hover,
#nav .subnav li:hover a {
  background-color: #dc7b5b;
  color: #fff;
}

#nav .subnav a {
  color: #687074;
  font-weight: 500;
}

#nav li:hover > .subnav {
  display: block;
  background-color: #fff;
  z-index: 1;
}

@media (max-width: 1024px) {
  #huyndai-logo {
    width: 140px;
    height: 17px;
  }

  #nav li {
    position: relative;
    padding: 8px 6px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 739px) {
  #icic_lc_button {
    width: 175px;
  }

  .fix_tel {
    bottom: 5px !important;
    left: 5px !important;
  }

  .tel {
    width: 190px !important;
    height: 45px !important;
  }

  .fone {
    font-size: 20px !important;
  }

  .animation_phone {
    margin-bottom: -38px !important;
  }

  .hac {
    width: 70%;
    margin: 0 auto;
  }

  .container {
    width: 100% !important;
  }

  .img-sm {
    width: 85%;
  }

  .engine-descript {
    padding-left: 10px;
  }

  .air-bag {
    min-height: 300px;
  }

  .furniture-bg {
    display: none;
  }

  .mb-menu-top {
    display: block;
    padding-bottom: 0;
    border-bottom: 1px solid #e4e4e4;
  }

  .mb-menu-top-above {
    padding: 8px;
    padding-bottom: 0;
  }

  .mb-menu-content {
    background-color: #fff;
    padding: 8px;
    margin: 0;
  }

  .mb-menu-content > li {
    display: flex;
    flex-direction: column;
    padding: 9px 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  .mb-menu-level-root {
    display: flex;
    justify-content: space-between;
  }

  .mb-menu-content li a {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .mb-menu-top-above {
    display: flex;
    justify-content: space-between;
  }

  .mb-menu-top-above .mb-daily-logo {
    width: 137px;
    height: 33px;
  }

  .mb-menu-top-above .mb-menu-toggle {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 46px;
    height: 40px;
    padding: 4px 8px;
  }

  .mb-menu-top .mb-menu-toggle > i {
    font-size: 30px;
    color: #888;
  }

  .mb-menu-top .phone {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--second-font);
    color: #243d8e;
    text-align: center;
    text-shadow: 0px 1px #243d8e;
  }

  .mb-menu-multi-level .subnav {
    margin-left: -8px;
    margin-right: -8px;
  }

  .mb-menu-multi-level .subnav li:first-child {
    border-top: 1px solid #ddd;
  }

  .mb-menu-multi-level .subnav li:last-child {
    border-bottom: none;
  }

  .mb-menu-multi-level .subnav li {
    border-bottom: 1px solid #ddd;
    padding: 8px 25px;
  }

  .mb-menu-multi-level .subnav a {
    font-weight: 400;
  }

  #top-menu .carousel-indicators {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 15px;
    justify-content: space-around;
  }

  .navbar-top .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .carousel-item .slide-1 {
    padding-top: 32px;
    text-align: center;
  }

  .btn-carousel {
    margin: 0 12px !important;
  }

  .btn-carousel > span {
    font-size: 8px;
  }

  #header,
.top-menu .top-menu_logo,
.descript-text-1,
.descript-text-2,
.safe-info-box,
#exterior .exterior-bg,
#safe .safe-bg,
.operation-bg,
.convenient-bg,
.menu-bottom-left,
.menu-bottom-right {
    display: none;
  }

  .navbar-top {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #000;
  }

  .navbar-top .nav-top li {
    font-size: 10px;
  }

  .hightlights-product > div {
    padding: 16px 32px;
  }

  .descript-text-box p,
.descript-text-1,
.descript-text-2,
.safe-info-box {
    display: none;
  }

  #exterior .exterior-bg {
    display: none;
  }

  .air-bag {
    background-size: 122% 76%;
    margin-bottom: 0;
  }

  .hac {
    max-width: 375px;
    background-size: 100% 100%;
    min-height: 154px;
    padding: 0;
  }

  .hac-text {
    display: block;
  }

  .contact {
    flex-direction: column;
    padding: 16px;
  }

  .contact > div {
    margin-right: 0;
  }

  .contact > input {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 0;
    width: 100%;
  }

  .contact > button {
    width: 100%;
  }

  .content {
    padding-bottom: 32px;
  }

  .content-item {
    margin-top: 16px;
  }

  .content-item-post .post-img {
    width: 25% !important;
  }

  .content-item-post .post-link {
    width: 75% !important;
  }

  .contact-info {
    margin-bottom: 16px;
  }

  .copy-right {
    padding: 16px 0;
  }

  .product-function-descript {
    display: none !important;
  }

  .slide-2 {
    padding-right: 80px;
  }

  .facebook-page {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
@media (max-width: 391px) {
  .engine-descript {
    padding-left: 10px;
  }

  .engine-descript-right img {
    padding-top: 100px;
  }

  .product-exterior-descript {
    display: none;
  }

  .container {
    width: 100% !important;
  }

  .descript-box span {
    display: none;
  }

  .header-slogan {
    font-size: 24px;
  }

  .img-sm {
    width: 85%;
  }

  .furniture-bg {
    display: none;
  }

  .descript-header {
    font-size: 24px;
    font-family: ModernHBold;
  }

  .detail-product {
    margin: 0 0 20px 0 !important;
  }

  .detail-box-text span {
    padding: 0;
  }

  .detal-text {
    font-size: 18px;
  }
}
.container-email {
  height: 90px;
  width: 100%;
  background-image: url(../images/sea.png);
}

.modal-dialog {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.modal-dialog .modal-content {
  position: relative;
  padding: 10px;
  height: auto;
}

.modal-content .btn-close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0px;
  font-size: 20px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.img-modal {
  width: 100%;
  height: 100%;
}

#nav .subnav ul li {
  padding: unset;
}

@media only screen and (max-width: 768px) {
  #nav .huyndai-logo li {
    padding: 8px 5px;
  }

  li #huyndai-logo {
    padding: 12 10px;
  }

  #nav #huyndai-logo img {
    width: 170px;
    height: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .btn-carousel > span {
    bottom: 6px !important;
  }

  .top-menu-fixed {
    padding: unset !important;
  }

  .container-header {
    background: transparent !important;
  }

  .carousel-indicators {
    padding: unset !important;
  }

  .navbar-top .nav-top {
    flex-wrap: unset !important;
  }

  .top-menu_logo {
    display: none !important;
  }
}
.hightlight-header {
  text-align: center;
}

.header-text {
  padding: 8px 18px;
  font-size: 32px;
  color: #0e528b;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #0e528b;
  font-family: ChakraPetchMedium;
}

.descript-text {
  font-size: 42px;
  color: #222;
  margin: 50px 0 32px 0;
  font-weight: bold;
  font-family: ModernHBold;
}

.detail-text {
  color: #666;
  font-size: 17px;
  font-family: ModernHEcoLight;
  font-weight: bold;
}

.product-head-text {
  font-size: 24px;
  font-weight: bold;
}
.product-head-text p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  padding: 0 11px;
}

.descript-product {
  text-align: center;
  align-items: center;
  flex-direction: none;
  padding-top: 80px;
}
.descript-product span {
  margin-bottom: 24px !important;
}
.descript-product p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  padding: 0 11px;
}

img {
  width: 100%;
}

.img-highlight {
  padding-left: 25px;
  padding-right: 25px;
}

.descript-box {
  position: relative;
}
.descript-box span {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 45%;
  transform: translareY(-50%);
  max-width: 540px;
}

.descript-text1 {
  right: 32px;
}

.descript-text2 {
  left: 45px;
}

.double-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 24px;
  font-family: ModernHEcoLight;
}

.descript-header {
  font-size: 30px;
  margin-bottom: 24px !important;
}

.descript-text-box {
  text-align: start;
}
.descript-text-box p {
  color: #666;
  line-height: 1.7;
  font-size: 15px;
}

a {
  text-decoration: none;
}

#exterior {
  text-align: center;
  margin-top: 40px;
}

.exterior-bg {
  margin-top: 32px;
  position: relative;
  width: 100%;
  height: 520px;
}

.header-slogan {
  font-size: 26px;
  margin-top: 60px;
  font-family: ModernHBold;
}

.detail-text {
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.product-detail-item {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.product-exterior-descript {
  position: absolute;
  top: 16px;
  left: 32px;
  right: 16px;
  max-width: 100%;
  text-align: left;
}
.product-exterior-descript p {
  color: #666;
  font-family: ModernHEcoLight;
  padding-right: 10px;
}

.product-exterior-descript-header {
  margin-bottom: 18px;
  font-size: 18px;
  color: #fff;
  font-family: ModernHBold;
}

.detail-product {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.detail-box-text span {
  display: inline-block;
  padding: 10px 0;
  color: #000;
  font-family: ModernHBold;
  font-weight: bold;
  font-size: 16px;
}
.detail-box-text p {
  color: #656565;
  font-weight: 700;
  font-family: ModernHEcoLight;
  font-size: 16px;
}

.furniture-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/noithat/noi11.png) no-repeat fixed 50% 50% #fff;
}

.slogan-comfort {
  font-size: 28px;
  color: #337ab7;
  font-family: ModernHBold;
}

.operation-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/vanhanh/v1.jpg) no-repeat fixed 50% 50% #fff;
}

.engine-descript {
  display: flex;
  padding-left: 85px;
}

.engine-descript-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.engine-descript .engine-descript-left .engine-descript-left-above {
  margin-bottom: 16px;
  text-align: left;
  font-family: var(--second-font);
  font-weight: 700;
  max-width: 373px;
}
.engine-descript .engine-descript-left .engine-descript-left-above span {
  font-size: 22px;
  color: #222222;
  line-height: 1.6;
}
.engine-descript .engine-descript-left .engine-descript-left-above p {
  color: #333333;
  font-size: 14px;
}

.engine-descript .engine-descript-left .engine-descript-left-bellow {
  min-height: 180px;
  text-align: left;
  background: url(https://buithimyvan.github.io/Giaodien_HuyndaiGrand_i10-Van/images/bg_performance_max_title2.png) no-repeat;
}
.engine-descript .engine-descript-left .engine-descript-left-bellow div {
  min-height: 78px;
}

.max-power {
  display: flex;
  padding-bottom: 14px;
  border-bottom: 1px solid #ccc;
}

.max-torque {
  display: flex;
}

.max-torque .max-torque-text {
  color: #3f86c6;
  padding-top: 74px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.max-number {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.number {
  font-size: 32px;
  color: #666666;
  font-weight: 700;
  font-family: ChakraPetchRegular;
}

.max-power-text .max-torque .max-torque-text {
  font-size: 14px;
  font-family: var(--second-font);
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.engine-descript-left-above {
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  max-width: 373px;
}
.engine-descript-left-above span {
  font-size: 22px;
  color: #222222;
  line-height: 1.6;
}
.engine-descript-left-above p {
  color: #333333;
  font-size: 14px;
}

.max-power-text {
  color: #f58d0a;
}

.max-power-text {
  font-size: 14px;
  font-weight: bold;
  padding-top: 46px;
  padding-right: 10px;
  border-right: 1px dotted #ccc;
}

.max-number {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.number {
  font-size: 32px;
  color: #666666;
  font-weight: 700;
  font-family: var(--third-font);
}

.unit {
  color: #666666;
  font-weight: 700;
}

.safe-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an1.jpg) no-repeat fixed 50% 50% #fff;
}

.air-bag {
  min-height: 516px;
  background-image: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an2.jpg);
  margin-bottom: 111px;
}

.safe-info-box {
  max-width: 450px;
  padding: 32px 16px 0 32px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.safe-info-name {
  display: block;
  margin: 0 0 17px 0;
  font-size: 17px;
  font-family: ModernHBold;
  line-height: 24px;
  color: #000;
}

.safe-info-text {
  font-size: 14px;
  color: #656565;
  font-weight: bold;
}

.hac {
  min-height: 716px;
  width: 100%;
  background-image: url(http://webdemo.netdeal.vn:12071/Uploads/SanPham/i102017/antoan/an3.jpg);
  padding: 56px 0 0 127px;
}

.convenient-bg {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(http://hyundaibacninh.vn/tempfiles/uploads/ChiTietXe/Grandi10-2017/tiennghi/tien1.jpg) no-repeat fixed 50% 50% #fff;
}

#btn-start {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  html,
body {
    overflow-x: hidden;
  }

  .hac {
    width: 80%;
    margin: 0 auto;
  }

  .top-menu-fixed {
    top: 0;
    max-height: 222px;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .descript-box span {
    text-align: start;
    max-width: 400px;
  }

  .info-intro {
    max-width: 550px !important;
    margin: auto !important;
  }
}
@media (max-width: 769px) {
  .make-regist {
    display: none;
  }

  .container-icon {
    display: none;
  }

  .descript-box span {
    position: absolute;
    top: 30%;
    text-align: start;
    max-width: 280px;
  }

  .hac {
    padding: 51px 0 0 51px;
  }

  .img-end {
    width: 50%;
  }

  .product-exterior-descript-header {
    margin-bottom: 0px;
  }

  .top-menu {
    width: 100%;
  }

  .top-menu-fixed {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .container {
    width: 100% !important;
  }

  #header {
    height: auto;
  }

  #header #nav {
    flex-wrap: wrap;
  }

  #nav .daily-logo {
    padding: 0;
    bottom: 0;
    width: 156px;
    height: 38px;
  }

  .tb-padding-right {
    padding-right: 32px;
  }

  .tb-padding-left {
    padding-left: 32px;
  }
}
@media (max-width: 739px) {
  #btn-start {
    display: none;
  }

  #icic_lc_button {
    width: 175px;
  }

  .fix_tel {
    bottom: 5px !important;
    left: 5px !important;
  }

  .tel {
    width: 190px !important;
    height: 45px !important;
  }

  .animation_phone {
    margin-bottom: -38px !important;
  }

  .hac {
    width: 70%;
    margin: 0 auto;
  }

  .container {
    width: 100% !important;
  }

  .img-sm {
    width: 85%;
  }

  .engine-descript {
    padding-left: 10px;
  }

  .air-bag {
    min-height: 300px;
  }

  .furniture-bg {
    display: none;
  }

  .mb-menu-top {
    display: block;
    padding-bottom: 0;
    border-bottom: 1px solid #e4e4e4;
  }

  .mb-menu-top-above {
    padding: 8px;
    padding-bottom: 0;
  }

  .mb-menu-content {
    background-color: #fff;
    padding: 8px;
    margin: 0;
  }

  .mb-menu-content > li {
    display: flex;
    flex-direction: column;
    padding: 9px 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  .mb-menu-level-root {
    display: flex;
    justify-content: space-between;
  }

  .mb-menu-content li a {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .mb-menu-top-above {
    display: flex;
    justify-content: space-between;
  }

  .mb-menu-top-above .mb-daily-logo {
    width: 137px;
    height: 33px;
  }

  .mb-menu-top-above .mb-menu-toggle {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 46px;
    height: 40px;
    padding: 4px 8px;
  }

  .mb-menu-top .mb-menu-toggle > i {
    font-size: 30px;
    color: #888;
  }

  .mb-menu-top .phone {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--second-font);
    color: #243d8e;
    text-align: center;
    text-shadow: 0px 1px #243d8e;
  }

  .mb-menu-multi-level .subnav {
    margin-left: -8px;
    margin-right: -8px;
  }

  .mb-menu-multi-level .subnav li:first-child {
    border-top: 1px solid #ddd;
  }

  .mb-menu-multi-level .subnav li:last-child {
    border-bottom: none;
  }

  .mb-menu-multi-level .subnav li {
    border-bottom: 1px solid #ddd;
    padding: 8px 25px;
  }

  .mb-menu-multi-level .subnav a {
    font-weight: 400;
  }

  #top-menu .carousel-indicators {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 15px;
    justify-content: space-around;
  }

  .navbar-top .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .carousel-item .slide-1 {
    padding-top: 32px;
    text-align: center;
  }

  .btn-carousel {
    margin: 0 12px !important;
  }

  .btn-carousel > span {
    font-size: 8px;
  }

  #header,
.top-menu .top-menu_logo,
.descript-text-1,
.descript-text-2,
.safe-info-box,
#exterior .exterior-bg,
#safe .safe-bg,
.operation-bg,
.convenient-bg,
.menu-bottom-left,
.menu-bottom-right {
    display: none;
  }

  .navbar-top {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #000;
  }

  .navbar-top .nav-top li {
    font-size: 10px;
  }

  .hightlights-product > div {
    padding: 16px 32px;
  }

  .descript-text-box p,
.descript-text-1,
.descript-text-2,
.safe-info-box {
    display: none;
  }

  #exterior .exterior-bg {
    display: none;
  }

  .air-bag {
    background-size: 122% 76%;
    margin-bottom: 0;
  }

  .hac {
    max-width: 375px;
    background-size: 100% 100%;
    min-height: 154px;
    padding: 0;
  }

  .hac-text {
    display: block;
  }

  .contact {
    flex-direction: column;
    padding: 16px;
  }

  .contact > div {
    margin-right: 0;
  }

  .contact > input {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 0;
    width: 100%;
  }

  .contact > button {
    width: 100%;
  }

  .content {
    padding-bottom: 32px;
  }

  .content-item {
    margin-top: 16px;
  }

  .content-item-post .post-img {
    width: 25% !important;
  }

  .content-item-post .post-link {
    width: 75% !important;
  }

  .contact-info {
    margin-bottom: 16px;
  }

  .copy-right {
    padding: 16px 0;
  }

  .product-function-descript {
    display: none !important;
  }

  .slide-2 {
    padding-right: 80px;
  }

  .facebook-page {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
@media (max-width: 391px) {
  .engine-descript {
    padding-left: 10px;
  }

  .engine-descript-right img {
    padding-top: 100px;
  }

  .product-exterior-descript {
    display: none;
  }

  .container {
    width: 100% !important;
  }

  .descript-box span {
    display: none;
  }

  .header-slogan {
    font-size: 24px;
  }

  .img-sm {
    width: 85%;
  }

  .furniture-bg {
    display: none;
  }

  .descript-header {
    font-size: 24px;
    font-family: ModernHBold;
  }

  .detail-product {
    margin: 0 0 20px 0 !important;
  }

  .detail-box-text span {
    padding: 0;
  }

  .detal-text {
    font-size: 18px;
  }
}
.container-email {
  height: 90px;
  width: 100%;
  background-image: url(../images/sea.png);
}

.modal-dialog {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.modal-dialog .modal-content {
  position: relative;
  padding: 10px;
  height: auto;
}

.modal-content .btn-close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0px;
  font-size: 20px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.img-modal {
  width: 100%;
  height: 100%;
}

.panorama_360 {
  position: relative;
  max-height: 500px;
}

.body-top-360 {
  height: 500px;
}

#object1 {
  max-height: 500px;
}

.color_xe a img {
  width: 35px;
  margin: 3px 0px;
  border-radius: 5px;
}

.tableColor {
  padding-top: 10px;
  flex-direction: column;
  padding-right: 180px;
}

.fake {
  padding-left: 100px;
  padding-top: 10px;
}
.fake img {
  width: 120%;
}

#product-viewer {
  padding-top: 7px;
  display: flex;
  justify-content: center;
}

.slide-2 .text {
  text-align: center;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}

#loaditem {
  display: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  position: absolute;
  top: 39%;
  height: 90px;
  left: 48%;
  width: 90px;
  color: gray;
  background-color: #fff;
  border-color: #888;
}

.spinner-border-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.2em;
}

.btn:disabled {
  cursor: pointer;
  opacity: 1 !important;
}

@media only screen and (max-width: 1024px) {
  .color_xe a img {
    width: 35px;
    margin: 3px 0px;
    border-radius: 5px;
  }

  .tableColor {
    padding-top: 10px;
    flex-direction: column;
    padding-right: 180px;
  }

  .fake {
    padding-left: 100px;
    padding-top: 10px;
  }
  .fake img {
    width: 120%;
  }
}
@media only screen and (max-width: 768px) {
  .fake {
    padding-right: 50px;
    padding-top: 40px;
  }
  .fake img {
    width: 140%;
  }

  .tableColor {
    padding-left: 40px;
  }

  .color_xe a img {
    width: 25px !important;
    height: 25px !important;
  }
}
@media only screen and (max-width: 376px) {
  .tableColor {
    padding: unset !important;
  }

  .fake {
    padding: unset !important;
  }
  .fake img {
    padding-right: 30px;
    width: 300px;
  }
}
.body-top-catalog {
  position: relative;
}

.body-top-danhgia {
  position: relative;
}

.imglist {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.modal_danhgia {
  display: flex;
}

.item-danhgia {
  padding: 10px 0px;
}
.item-danhgia img {
  width: 90px;
}
.item-danhgia p {
  font-weight: bold;
  color: #0000ff;
  font-size: 14px;
  font-family: Georgia;
}

.ahaha .logo {
  width: 90px;
  height: 30px;
  margin-right: 49px;
}

.slide_1 {
  width: 100%;
}

.gioithieu {
  align-items: center;
  margin: auto;
}

.gt-left {
  font-weight: bold;
}
.gt-left .gt-text {
  text-align: left;
  color: #333;
  font-weight: bold;
}
.gt-left .gt-text .gt-carname {
  font-size: 28px;
  text-transform: uppercase;
}
.gt-left .gt-text .gt-slogan {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.gt-left .gt-text .gt-summary {
  font-size: 15px;
  margin-bottom: 25px;
}

.item-productprice {
  margin-top: 20px;
}
.item-productprice .btn {
  border-radius: 0px;
  font-size: 18px;
}
.item-productprice .btn-detail-product {
  background-color: #3c599b;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.item-productprice .btn-detail-product:hover {
  background-color: orange;
}

.gt-right .gt-img-responsive {
  margin: 0 auto;
  width: 100%;
  display: block;
  height: auto;
}

@media screen and (max-width: 376px) {
  .gt-img-responsive {
    width: 75% !important;
  }

  .gt-left {
    font-weight: bold;
  }
  .gt-left .gt-text {
    text-align: center !important;
    color: #333;
    font-weight: bold;
  }
  .gt-left .gt-text .gt-carname {
    font-size: 28px;
    text-transform: uppercase;
  }
  .gt-left .gt-text .gt-slogan {
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .gt-left .gt-text .gt-summary {
    font-size: 13px;
    margin-bottom: unset;
  }
}
.picture_item {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.nav-pills .nav-item .nav-link {
  padding: 0px 20px;
  color: blue;
  background-color: transparent;
}

.nav-pills .nav-item a {
  font-size: 17px;
  font-weight: bold;
}

.nav-pills .nav-item .nav-link:hover {
  color: orange;
}

.text_picture {
  margin-top: 10px;
  text-align: center;
}

.gallery-item {
  background-color: #fff;
  padding: 2px !important;
  margin: 5px;
}

.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 80%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}

.modal-dialog .modal-content {
  padding: 1px !important;
}

.modal-body {
  padding: 3px !important;
}

.modal-header {
  border-bottom: unset;
}

.modal-content .close {
  position: absolute;
  top: -16px;
  right: -13px;
  padding: 4px;
  font-size: 22px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

@media only screen and (max-width: 376px) {
  .picture_item {
    padding: unset;
    margin: 5px;
  }

  .gallery .image img {
    width: 44% !important;
  }

  .floating-top {
    width: 30px !important;
    height: 30px !important;
  }
}
.carousel-item .param {
  margin: 40px 0;
  height: 312px;
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  font-family: var(--second-font);
  font-size: 13px;
}

.text-align-center {
  text-align: center;
}

.carousel-item .notice {
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
}

.mb16 {
  margin-bottom: 16px;
}

.table-param tbody {
  border-top: none !important;
}

.table-param tr {
  border-bottom: 1px solid #d8d9d9 !important;
}

.table-param th {
  display: table-cell;
  vertical-align: middle;
}

.circle {
  position: absolute;
  background: #000;
  border: 0.1875em solid #0f1c3f;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.available {
  position: relative;
}

.table-param .type {
  background-color: rgb(231, 231, 230);
}

.khung_tabs_body {
  height: 180px;
}

.nav-tabs {
  padding: 0;
  justify-content: center;
  border: none;
  position: relative;
  z-index: 50;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.nav-tabs .nav-link .active {
  color: transparent;
  background-color: transparent;
  border-color: none;
}

.nav-tabs-top {
  margin: 0;
  list-style: none;
  padding: 0;
}

.nav-tabs-bot {
  list-style: none;
  display: flex;
}

.nav-link p {
  margin: 0;
}

#carouselExampleIndicators {
  min-height: 616px;
}

.carousel {
  position: relative;
}

.top-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  margin: 0 auto;
}

#carouselExampleIndicators .carousel-indicators {
  position: static;
}

@media only screen and (max-width: 1025px) {
  .top-menu {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .top-menu {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .top-menu {
    width: 100% !important;
  }

  .slide-icon img {
    width: 65% !important;
  }
}
a.active {
  border-bottom: 4px solid #3c599b;
}

.objects {
  position: relative;
}

.objects_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.fix_tel {
  position: fixed;
  bottom: 15px;
  left: 18px;
  z-index: 999;
}
.fix_tel a {
  text-decoration: none;
  display: block;
}

.ring-alo-phone .ring-alo-show {
  visibility: visible;
}

.lazy {
  width: 30px;
  margin-top: -2px;
  margin-left: -4px;
  height: 30px;
}

.ring-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  position: absolute;
  transition: visibility 0.5s ease 0s;
  width: 80px;
  z-index: 1000 !important;
}

.ring-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  height: 43px;
  left: 19px;
  position: absolute;
  top: 25px;
  transform-origin: 50% 50% 0;
  transition: all 0.5 ease 0s;
  width: 49px;
}

.ring-alo-ph-circle:hover {
  background-color: green;
}

.ring-alo-ph-img-circle {
  animation: 1s ease-in-out 0s normal none infinite running ring-alo-circle-img-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 30px;
  left: 30px;
  opacity: 1;
  position: absolute;
  top: 33px;
  transform-origin: 50% 50% 0;
  width: 30px;
}

.tel {
  background: #d60202;
  width: 220px;
  height: 50px;
  text-align: right;
  position: relative;
  overflow: hidden;
  background-size: 40px;
  border-radius: 28px;
  border: solid 1px #ccc;
}

.fone {
  font-size: 22px;
  color: #fff;
  margin-left: 60px !important;
}

.animation_phone {
  margin-bottom: -40px;
  margin-left: 16px;
}

.animation_phone img {
  margin-top: -32px;
  width: 30px;
  height: 30px;
  margin-left: -16px;
}

#app {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #f44336;
  color: #fff;
  font-size: 30px;
  padding: 15px;
  line-height: 1;
  border-radius: 50%;
  animation: pulse 0.5s cubic-bezier(0, 0, 0, 0) 0.6s infinite;
  z-index: 100000 !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fddcda;
  }
  25% {
    box-shadow: 0 0 0 5px #fddcda;
  }
  50% {
    box-shadow: 0 0 0 10px #fef2f2;
  }
  75% {
    box-shadow: 0 0 0 15px #fef2f1;
  }
}
@keyframes changeSize {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
}
.group_icon {
  margin: 20px;
  position: fixed;
  bottom: 30%;
  z-index: 100;
  background-color: white;
  border-radius: 20px;
}

.icon {
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 3px;
}
.icon a {
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
  transition: transform 0.2s;
}
.icon a img {
  width: 40px;
  height: 40px;
}

.zoom_icon {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.zoom_icon:hover {
  transform: scale(1.5);
}

.make-regist {
  margin: 10px;
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 999;
  width: 15%;
  font-weight: 100;
}

.regist {
  transition: transform 0.2s;
  height: 40px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #ff4d4d;
  border-radius: 20px;
}
.regist a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.make-app {
  transition: transform 0.2s;
  height: 40px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #ff4d4d;
  border-radius: 20px;
}
.make-app a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.make-app a:hover {
  color: #337ab7;
}

.regist a:hover {
  color: #337ab7;
}

.floating-top {
  right: 300px;
  display: inline;
  width: 100px;
  height: 100px;
  background: url(../images/back_to_top_1.png) left top/100% 100% no-repeat;
  position: fixed;
  bottom: 50px;
  cursor: pointer;
  stop-opacity: 0;
  z-index: 1000;
  opacity: 0.8;
}

.textwidget {
  font-weight: normal;
  text-align: justify;
  margin-top: 25px;
  color: #fff;
  line-height: 20px;
  text-align: left;
}

.footer-top {
  position: relative;
  z-index: 1;
  margin-top: 0px;
  background-color: #f7f7f7;
  padding: 45px 0;
  font-size: 15px;
  color: #222222;
}

.footer_top .container .row > div {
  padding-bottom: 20px;
}

.col-md-3 .col-sm-6 .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.h5 {
  font-size: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

.footer_headings {
  font-size: 20px;
  margin: 0;
  padding-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}

.top-line {
  background: #fff;
  height: 1px;
  margin: 0;
  margin-bottom: 25px;
  text-align: left;
}

.footer-img ul li {
  display: inline-block;
  width: 32%;
  padding: 5px !important;
  position: relative;
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.footer-col .col-xs-12:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  font-size: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

.icon-footer {
  padding-bottom: 20px;
}
.icon-footer p {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
}

.container-footer {
  width: 90%;
}

.copy-right {
  padding: 24px 0;
  font-family: ModernHBold;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.top-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  margin: 0 auto;
}

.top-menu_logo {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-top: 24px;
}

.top-menu_logo-box {
  width: 149px;
  height: 24px;
}

.navbar-top .nav-top {
  display: flex;
  flex-wrap: wrap;
}

.nav-top li {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
}

.top-menu-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 970px;
  max-height: 222px;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.top-menu a,
.top-menu-fixed a {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--main-font);
}

.btn-carousel {
  position: relative;
  width: 162px !important;
  height: 70px !important;
  margin-right: 12px !important;
  margin-left: 12px !important;
  color: #337ab7 !important;
  background-color: transparent !important;
  opacity: 1 !important;
  text-indent: 0 !important;
  font-family: var(--third-font);
  font-weight: bold;
}

.btn-carousel .slide-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
}

.btn-carousel > span {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0px;
  text-align: center;
}

a.on {
  border-bottom: 4px solid #3c599b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #007bff;
}

.wrapper {
  max-width: 1100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .image {
  padding: 7px;
  width: 33.3333333333%;
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  padding: unset;
  width: 70%;
  vertical-align: middle;
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  max-width: 700px;
  width: 200%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.preview-box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  margin: 0 5px;
}

.details .title p.current-img {
  font-weight: 500;
}

.details .icon {
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}

.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.slide.prev {
  left: 0px;
}

.slide.next {
  right: 0px;
}

.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

@media (max-width: 1000px) {
  .gallery .image {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .gallery .image {
    width: 100%;
    padding: 4px;
  }
}
@font-face {
  font-family: ModernHEcoLight;
  src: url("/font/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: ModernHBold;
  src: url("/font/ChakraPetch-Medium.ttf");
}
@font-face {
  font-family: ChakraPetchRegular;
  src: url("/font/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: ChakraPetchMedium;
  src: url("/font/ChakraPetch-Medium.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-body {
  display: block;
}

.container-fluid {
  background-color: white;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
