.slide_1 {
  width: 100%;
}
.gioithieu {
  align-items: center;
  margin: auto;
}
.gt-left {
  font-weight: bold;
  .gt-text {
    text-align: left;
    color: #333;
    font-weight: bold;
    .gt-carname {
      font-size: 28px;
      text-transform: uppercase;
    }
    .gt-slogan {
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    .gt-summary {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }
}
.item-productprice {
  margin-top: 20px;
  .btn {
    border-radius: 0px;
    font-size: 18px;
  }
  .btn-detail-product {
    background-color: #3c599b;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  .btn-detail-product:hover {
    background-color: orange;
  }
}
.gt-right {
  .gt-img-responsive {
    margin: 0 auto;
    width: 100%;
    display: block;
    height: auto;
  }
}
@media screen and (max-width: 376px) {
  .gt-img-responsive {
    width: 75% !important;
  }
  .gt-left {
    font-weight: bold;
    .gt-text {
      text-align: center !important;
      color: #333;
      font-weight: bold;
      .gt-carname {
        font-size: 28px;
        text-transform: uppercase;
      }
      .gt-slogan {
        margin-bottom: 16px;
        text-transform: uppercase;
      }
      .gt-summary {
        font-size: 13px;
        margin-bottom: unset;
      }
    }
  }
}
