.khung_tabs_body {
  height: 180px;
}
.nav-tabs {
  padding: 0;
  justify-content: center;
  border: none;
  position: relative;
  z-index: 50;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link {
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link .active {
  color: transparent;
  background-color: transparent;
  border-color: none;
}
.nav-tabs-top {
  margin: 0;
  list-style: none;
  padding: 0;
}
.nav-tabs-bot {
  list-style: none;
  display: flex;
}
.nav-link p {
  margin: 0;
}
#carouselExampleIndicators {
  min-height: 616px;
}
.carousel {
  position: relative;
}
.top-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  margin: 0 auto;
}

#carouselExampleIndicators .carousel-indicators {
  position: static;
}
@media only screen and (max-width: 1025px) {
  .top-menu {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .top-menu {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .top-menu {
    width: 100% !important;
  }
  .slide-icon img {
    width: 65% !important;
  }
}
a.active {
  border-bottom: 4px solid #3c599b;
}
