.body-top-danhgia {
  position: relative;
}
.imglist {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.modal_danhgia {
  display: flex;
}
.item-danhgia {
  padding: 10px 0px;
  img {
    width: 90px;
  }
  p {
    font-weight: bold;
    color: #0000ff;
    font-size: 14px;
    font-family: Georgia;
  }
}
.ahaha .logo {
  width: 90px;
  height: 30px;
  margin-right: 49px;
}
