// .tab-content {
//   height: 500px !important;
// }
.khung_tabs_body {
  height: 180px;
}
.nav-tabs {
  padding: 0;
  justify-content: center;
  border: none;
  position: relative;
  z-index: 50;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-link {
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link .active {
  color: transparent;
  background-color: transparent;
  border-color: none;
}
.nav-tabs-top {
  margin: 0;
  list-style: none;
  padding: 0;
}
.nav-tabs-bot {
  list-style: none;
  display: flex;
}
.nav-link p {
  margin: 0;
}
