.body-top-thongsoxe {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
div.ex1 {
  background-color: white;
  width: 900px;
  height: 300px;
  overflow: scroll;
}
