// #product_viewer {
//   max-width: 50%;
//   // margin: 200px auto;
// }
.panorama_360 {
  position: relative;
  max-height: 500px;
}
.body-top-360 {
  height: 500px;
}
#object1 {
  max-height: 500px;
}
.product-viewer {
  padding-top: 110px;
  display: flex;
  justify-content: center;
}
