.fix_tel {
  position: fixed;
  bottom: 15px;
  left: 18px;
  z-index: 999;
  a {
    text-decoration: none;
    display: block;
  }
}
.ring-alo-phone .ring-alo-show {
  visibility: visible;
}
.lazy {
  width: 30px;
  margin-top: -2px;
  margin-left: -4px;
  height: 30px;
}
.ring-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  position: absolute;
  transition: visibility 0.5s ease 0s;
  width: 80px;
  z-index: 1000 !important;
}
.ring-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running
    ring-alo-circle-anim;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  height: 43px;
  left: 19px;
  position: absolute;
  top: 25px;
  transform-origin: 50% 50% 0;
  transition: all 0.5 ease 0s;
  width: 49px;
}
.ring-alo-ph-circle:hover {
  background-color: green;
}
// .ring-alo-ph-circle-fill {
//   animation: 2.3s ease-in-out 0s normal none infinite running
//     ring-alo-circle-fill;
//   border: 2px solid transparent;
//   border-radius: 100%;
//   height: 30px;
//   left: 30px;
//   opacity: 0.1;
//   position: absolute;
//   top: 33px;
//   transform-origin: 50% 50% 0;
//   transition: all 0.5s ease 0s;
//   width: 30px;
// }
.ring-alo-ph-img-circle {
  animation: 1s ease-in-out 0s normal none infinite running
    ring-alo-circle-img-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 30px;
  left: 30px;
  opacity: 1;
  position: absolute;
  top: 33px;
  transform-origin: 50% 50% 0;
  width: 30px;
}
.tel {
  background: #d60202;
  width: 220px;
  height: 50px;
  text-align: right;
  position: relative;
  overflow: hidden;
  background-size: 40px;
  border-radius: 28px;
  border: solid 1px #ccc;
}
.fone {
  font-size: 22px;
  color: #fff;
  margin-left: 60px !important;
}

.animation_phone {
  margin-bottom: -40px;
  margin-left: 16px;
}
.animation_phone img {
  margin-top: -32px;
  width: 30px;
  height: 30px;
  margin-left: -16px;
}
#app {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #f44336;
  color: #fff;
  font-size: 30px;
  padding: 15px;
  line-height: 1;
  border-radius: 50%;
  animation: pulse 0.5s cubic-bezier(0, 0, 0, 0) 0.6s infinite;
  z-index: 100000 !important;
}

// #app i {
//   text-shadow: 0 2px 10px #b52217;
//   animation: changeSize 1s cubic-bezier(0, 0, 0, 0) 0s infinite;
//   z-index: 10000;
// }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fddcda;
  }
  25% {
    box-shadow: 0 0 0 5px #fddcda;
  }
  50% {
    box-shadow: 0 0 0 10px #fef2f2;
  }
  75% {
    box-shadow: 0 0 0 15px #fef2f1;
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
}
.group_icon {
  margin: 20px;
  position: fixed;
  bottom: 30%;
  z-index: 100;
  background-color: white;
  border-radius: 20px;
}
.icon {
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 3px;
  a {
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
    transition: transform 0.2s;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.zoom_icon {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.zoom_icon:hover {
  transform: scale(1.5);
}

.make-regist {
  margin: 10px;
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 999;
  width: 15%;
  font-weight: 100;
}
.regist {
  transition: transform 0.2s;
  height: 40px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #ff4d4d;
  border-radius: 20px;
  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}
.make-app {
  transition: transform 0.2s;
  height: 40px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #ff4d4d;
  border-radius: 20px;
  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}
.make-app a:hover {
  color: #337ab7;
}
.regist a:hover {
  color: #337ab7;
}

.floating-top {
  right: 300px;
  display: inline;
  width: 100px;
  height: 100px;
  background: url(../images/back_to_top_1.png) left top / 100% 100% no-repeat;
  position: fixed;
  bottom: 50px;
  cursor: pointer;
  stop-opacity: 0;
  z-index: 1000;
  opacity: 0.8;
}
