.container-header {
  position: relative;
  background: #fff;
}
a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #337ab7;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  width: 100%;
}

:root {
  --main-color: #0e528b;
  --main-font: "Chakra Petch", sans-serif;
  --second-font: ModernHLight;
  --third-font: ModernHBold;
  --submenu-color: #fff;
  --modern-eco-light: ModernHEcoLight;
  --modern-eco-bold: ModernHEcoBold;
}

/* Common */

.mt8 {
  margin-top: 8px !important;
}

.mt16 {
  margin-top: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mt32 {
  margin-top: 32px !important;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0 !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px !important;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.font-size-30 {
  font-size: 30px;
}

.text-align-center {
  text-align: center;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.container {
  max-width: 970px;
}

.hidden {
  visibility: hidden;
}
//////////////////////@at-root
#header {
  border-bottom: 1px solid #ccc;
  height: 58px;
}

#header #nav {
  position: relative;
  margin: 0 34px;
  display: flex;
  align-items: center;
  height: 100%;
}

#nav #huyndai-logo {
  width: 200px;
  height: 28px;
}

#nav #daily-logo {
  width: 156px;
  height: 38px;
}

#nav li {
  position: relative;
  padding: 8px 18px;
  height: 100%;
  display: flex;
  align-items: center;
}

#nav li a {
  color: #333;
  font-weight: 700;
}

#nav .huyndai-logo {
  padding: 12px 20px;
}

#nav .daily-logo {
  position: absolute;
  right: 0;
}

#nav .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-top: 2px solid #0e528b;
  border-bottom: none;
  min-width: 200px;
  &.selected::before {
    background-color: #dc7b5b;
  }
}

#nav .subnav::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  border: 1 solid transparent;
  border-left: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  transform: rotate(45deg);
  top: -10px;
  left: 25%;
  background-color: var(--submenu-color);
}

#nav .subnav li {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

#nav .subnav li:hover,
#nav .subnav li:hover a {
  background-color: #dc7b5b;
  color: #fff;
}

#nav .subnav a {
  color: #687074;
  font-weight: 500;
}

#nav li:hover > .subnav {
  display: block;
  background-color: #fff;
  z-index: 1;
}
@media (max-width: 1024px) {
  #huyndai-logo {
    width: 140px;
    height: 17px;
  }
  #nav li {
    position: relative;
    padding: 8px 6px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 739px) {
  #icic_lc_button {
    width: 175px;
  }
  .fix_tel {
    bottom: 5px !important;
    left: 5px !important;
  }
  .tel {
    width: 190px !important;
    height: 45px !important;
  }
  .fone {
    font-size: 20px !important;
  }
  .animation_phone {
    margin-bottom: -38px !important;
  }
  .hac {
    width: 70%;
    margin: 0 auto;
  }
  .container {
    width: 100% !important;
  }
  .img-sm {
    width: 85%;
  }
  .engine-descript {
    padding-left: 10px;
  }
  .air-bag {
    min-height: 300px;
  }
  .furniture-bg {
    display: none;
  }
  .mb-menu-top {
    display: block;
    padding-bottom: 0;
    border-bottom: 1px solid #e4e4e4;
  }

  .mb-menu-top-above {
    padding: 8px;
    padding-bottom: 0;
  }

  .mb-menu-content {
    background-color: #fff;
    padding: 8px;
    margin: 0;
  }

  .mb-menu-content > li {
    display: flex;
    flex-direction: column;
    padding: 9px 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  .mb-menu-level-root {
    display: flex;
    justify-content: space-between;
  }

  .mb-menu-content li a {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .mb-menu-top-above {
    display: flex;
    justify-content: space-between;
  }
  .mb-menu-top-above .mb-daily-logo {
    width: 137px;
    height: 33px;
  }

  .mb-menu-top-above .mb-menu-toggle {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 46px;
    height: 40px;
    padding: 4px 8px;
  }

  .mb-menu-top .mb-menu-toggle > i {
    font-size: 30px;
    color: #888;
  }

  .mb-menu-top .phone {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--second-font);
    color: #243d8e;
    text-align: center;
    text-shadow: 0px 1px #243d8e;
  }

  .mb-menu-multi-level .subnav {
    margin-left: -8px;
    margin-right: -8px;
  }

  .mb-menu-multi-level .subnav li:first-child {
    border-top: 1px solid #ddd;
  }

  .mb-menu-multi-level .subnav li:last-child {
    border-bottom: none;
  }

  .mb-menu-multi-level .subnav li {
    border-bottom: 1px solid #ddd;
    padding: 8px 25px;
  }

  .mb-menu-multi-level .subnav a {
    font-weight: 400;
  }

  #top-menu .carousel-indicators {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 15px;
    justify-content: space-around;
  }

  .navbar-top .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .carousel-item .slide-1 {
    padding-top: 32px;
    text-align: center;
  }

  .btn-carousel {
    margin: 0 12px !important;
  }

  .btn-carousel > span {
    font-size: 8px;
  }

  #header,
  .top-menu .top-menu_logo,
  .descript-text-1,
  .descript-text-2,
  .safe-info-box,
  #exterior .exterior-bg,
  #safe .safe-bg,
  .operation-bg,
  .convenient-bg,
  .menu-bottom-left,
  .menu-bottom-right {
    display: none;
  }

  .navbar-top {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #000;
  }

  .navbar-top .nav-top li {
    font-size: 10px;
  }

  .hightlights-product > div {
    padding: 16px 32px;
  }
  .descript-text-box p,
  .descript-text-1,
  .descript-text-2,
  .safe-info-box {
    display: none;
  }

  #exterior .exterior-bg {
    display: none;
  }

  .air-bag {
    background-size: 122% 76%;
    margin-bottom: 0;
  }

  .hac {
    max-width: 375px;
    background-size: 100% 100%;
    min-height: 154px;
    padding: 0;
  }

  .hac-text {
    display: block;
  }

  .contact {
    flex-direction: column;
    padding: 16px;
  }

  .contact > div {
    margin-right: 0;
  }

  .contact > input {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 0;
    width: 100%;
  }

  .contact > button {
    width: 100%;
  }

  .content {
    padding-bottom: 32px;
  }

  .content-item {
    margin-top: 16px;
  }

  .content-item-post .post-img {
    width: 25% !important;
  }

  .content-item-post .post-link {
    width: 75% !important;
  }

  .contact-info {
    margin-bottom: 16px;
  }

  .copy-right {
    padding: 16px 0;
  }

  .product-function-descript {
    display: none !important;
  }

  .slide-2 {
    padding-right: 80px;
  }

  .facebook-page {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
@media (max-width: 391px) {
  .engine-descript {
    padding-left: 10px;
  }
  .engine-descript-right img {
    padding-top: 100px;
  }
  .product-exterior-descript {
    display: none;
  }
  .container {
    width: 100% !important;
  }
  .descript-box span {
    display: none;
  }
  .header-slogan {
    font-size: 24px;
  }
  .img-sm {
    width: 85%;
  }
  .furniture-bg {
    display: none;
  }
  .descript-header {
    font-size: 24px;
    font-family: ModernHBold;
  }
  .detail-product {
    margin: 0 0 20px 0 !important;
  }
  .detail-box-text span {
    padding: 0;
  }
  .detal-text {
    font-size: 18px;
  }
}
.container-email {
  height: 90px;
  width: 100%;
  background-image: url(../images/sea.png);
}

.modal-dialog {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}
.modal-dialog .modal-content {
  position: relative;
  padding: 10px;
  height: auto;
}
.modal-content .btn-close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0px;
  font-size: 20px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
.img-modal {
  width: 100%;
  height: 100%;
}
#nav .subnav ul li {
  padding: unset;
}
@media only screen and (max-width: 768px) {
  #nav .huyndai-logo li {
    padding: 8px 5px;
  }
  li #huyndai-logo {
    padding: 12 10px;
  }
  #nav #huyndai-logo img {
    width: 170px;
    height: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .btn-carousel > span {
    bottom: 6px !important;
  }
  .top-menu-fixed {
    padding: unset !important;
  }
  .container-header {
    background: transparent !important;
  }
  .carousel-indicators {
    padding: unset !important;
  }
  .navbar-top .nav-top {
    flex-wrap: unset !important;
  }
  .top-menu_logo {
    display: none !important;
  }
}
