@import "header";
@import "./body_slide";
@import "./body_top_360";
@import "./body_top_catalog";
@import "./body_top_danhgia";
@import "./body_top_gioithieu";
@import "./body_top_hinhanh";
@import "./body_top_thongsoxe";
@import "./body_top_tabs";
@import "./background_body_top";

@font-face {
  font-family: ModernHEcoLight;
  src: url('/font/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: ModernHBold;
  src: url('/font/ChakraPetch-Medium.ttf');
}

@font-face {
  font-family: ChakraPetchRegular;
  src: url('/font/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: ChakraPetchMedium;
  src: url('/font/ChakraPetch-Medium.ttf');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-body {
  display: block;
  padding-top: 40px;
}
body {
  font-family: ModernHEcoLight;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.container-fluid {
  background-color: white;
  padding: 0;
  margin: 0;
}
